!!! 5
%html
	%head 
		%title Vote for Barabbas
		:css
			body {
				background-color: #ac883b;
				font-size: 1em;
				font-family: Palatino, Serif;
			}
			.center {
				margin: 0 auto;
			}
			#main {
				text-align: center;
				padding: 0;
				height: 100%;
			}
			.question {
				text-shadow: #c9b384 2px 2px 3px;
				padding-top: 100px;
				font-size: 4em;
				color: #412e05;
				margin-bottom: 50px;
			}
			.button {
				width: 200px;
				height: 100px;
				border: 4px solid #805906;
				border-radius: 10px;
				background-color: #c9b384;
				font-size: 2em;
				color: #805906;
				margin: 20px;
			}
			.button:hover {
				border: 4px solid #412e05;
				color: #412e05;
			}
			table {
				border-spacing: 0;
			}
			.perc {
				color: #412e05;
				text-shadow: #c9b384 2px 2px 3px;
				font-size: 1.7em;
				font-weight: bold;
				margin-top: -10px;
			}
			.count {
				color: #412e05;
				font-weight: bold;
				font-size: 0.8em;
			}
			#notice {
				color: #412e05;
				padding-top: 30px;
				text-align: center;
			}
			#facebook {
				position: absolute;
				bottom: 0;
				left: 5px;
			}
			#credits {
				position: absolute;
				bottom: 5px;
				right: 5px;
				color: #412e05;
				text-align: center;
				font-size: 0.6em;
				font-weight: bold;
			}
			#credits a:link {
				text-decoration: none;
				color: inherit;
			}
			#credits a:hover {
				text-decoration: underline;
			}
	%body
		#main.center
			%h1.question Which one do you choose?
			
			%table.center
				%tr
					%form{:action => "/", :method => "POST"}
						%td
							%input.button{:value => "Jesus", :type => "submit", :name => "j"}
						%td
							%input.button{:value => "Barabbas", :type => "submit", :name => "b"}
				%tr
					%td
						.perc= "#{@jesus_p}%"
						.count= "(#{@jesus} votes)"
					%td
						.perc= "#{@barabbas_p}%"
						.count= "(#{@barabbas} votes)"
			
			#notice.center= flash[:notice]
			
		#facebook
			%iframe{:src => "https://www.facebook.com/plugins/like.php?href=http://voteforbarabbas.heroku.com", :scrolling => :no, :frameborder => 0, :style => "border:none; width:450px; height:25px"}
		
		#credits
			Code and design by
			%a{:href => "http://twitter.com/razielgn"}= "Federico Ravasio."
			= " Idea of"
			%a{:href => "http://www.facebook.com/profile.php?id=1384981360"} Luca Parsani
			&amp;
			%a{:href => "http://www.facebook.com/denkil"}= "Mauro Vitali."